<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/login_ev.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Login</title>
</head>

<body>
    <div id="geral">
        <header>
            <input type="checkbox" id="check">
            <label for="check" id="icone"><img src="../view/imagem/ba.JPG" alt " imagem" height="30" width="40"></label>
        </header>

        <nav id="menu-h">
            <ul>
                <li><a href="adm.php">Home</a></li>
                <li><a href="adm.php">Adm</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=5519987075090&app">whatsapp</a></li>
                <li><a
                        href="https://www.facebook.com/Hotelzinho-Infantil-Jardim-da-Alegria-1785110238450229/">Facebook</a>
                </li>
                <li><a
                        href="https://www.google.com/maps/dir//-22.8364042,-47.1590028/@-22.8322823,-47.2067979,13z">Localização</a>
                </li>
                <li><a href="loginprofessor.html">Professor</a></li>
                <li><a href="mailto:wagnerizaias1@gmail.com?subject=Assunto">Suporte</li>

            </ul>
        </nav>

        <div>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                </div>
            </nav>
        </div>
    </div>
    <div class="hotelzinho">
        <img src="imagem/Escola-Hotelzinho.png" width="300" height="auto" />
    </div>
    <h1 id="a">Login</h1><br>

    <div id="geral container">
        <div id="real row ">
            <form id="Formulario" class="col-12-lg" autocomplete="off">

                <div id="real" ><br>
                    <h1 id="a">Seja bem vindo ao sistema :</h1><br><br>

                    <script type="text/javascript">
                        function startTime() {
                            var today = new Date();
                            var h = today.getHours();
                            var m = today.getMinutes();
                            var s = today.getSeconds();
                            // adicione um zero na frente de números<10
                            m = checkTime(m);
                            s = checkTime(s);
                            document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
                            t = setTimeout('startTime()', 500);
                        }
                        function checkTime(i) {
                            if (i < 10) {
                                i = "0" + i;
                            }
                            return i;
                        }
                    </script>
                    </head>

                    <body onload="startTime()">
                        <div id="txt"></div>

                        <div class="teste">
                            <a href="https://api.whatsapp.com/send?phone=5519987075090&app"><br>
                                <img src="../view/imagem/ferias.jpg" alt " imagem" height="180" width="220"></a><br>
                        </div>
                        <form method="post" action="../controller/logar.php"><br>
                            <div >
                                <form method="post"><br><br>
                                    <label for="login">Login:</label>
                                    <input type="email" id="email" name="email"
                                        placeholder="   *Digite E-Mail para login*" required><br><br>
                                    senha: <input type="password" name="senha" placeholder="   *Digite sua Senha*"
                                        required><br>
                                    <h1><input type="submit" name="acao" value="Entrar" class="btn btn-primary">
                                    </h1>
                                    <br>
                                        <h2 ><a id="a" href="senha.html">Esqueci a senha.</a></h2><br>
                                </form>
                            </div>


                        </form>

            </form>

        </div>

        <br><br>
    </div>

    <footer id="rodape">
        <rodape>
            <h4><a href="adm.php">
                    <div id="a"> 
                        <a  style="color: rgb(33, 33, 207);">&#169  H.A.Feito por:BIT...</a>
                    </div>
    </footer>
</body>