<!DOCTYPE html>
<html>

    <head>
        
        <title>Formulario de login</title>
        <meta charset="utf-8" />

    </head>

    <body>

        <form method = "POST" action = "login.php">
        <labe>Usuario</labe>
             
            <input type="text" name="login" id="login">
              
            <br>
            
            <labe>Senha</labe>
            
            <input type="password" name="senha" id="senha">
            
            <br>
           
            <input type="submit" value="entrar" id="entrar" name="entrar">
   
            </form>
    
</body>

</html>