<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/teste.css">
    <title>Login</title>
</head>


<input type="checkbox" id="check">
<label for="check" id="icone"><img src="../view/imagem/ba.JPG"alt " imagem" height="30" width="40"></label>

<div class="barra">	
<nav>
    <a href="hotelzinho.html"><div class="link">Home</div></a>
    <a href="https://api.whatsapp.com/send?phone=5519987075090&app=facebook&entry_point=page_cta&fbclid=IwAR3nSaBx_VBNHNEyS9KpsAuvQgcZIrPWioEQkFf_I7q8CIktmN4z0GcXKqk"><div class="link">Whatsapp</div></a>
    <a href="https://www.facebook.com/Hotelzinho-Infantil-Jardim-da-Alegria-1785110238450229/"><div class="link">Facebook</div></a>
    <a href="https://www.google.com/maps/dir//-22.8364042,-47.1590028/@-22.8322823,-47.2067979,13z"><div class="link">Localização</div></a>
  
</nav>	<br>



</div>

<body>
<b><div class="real">
<form id="formulari" autocomplete="off">
 
<h1>Login</h1>

<div id="real">

<h1>Seja bem vindo:</h1><br>

<a href="https://api.whatsapp.com/send?phone=5519987075090&app">
<img src="../view/imagem/ferias.jpg" alt " imagem" height="160" width="260"></a><br>

</form><br>


<form action="contato.html">

        
</form>
<form class="formulario" method="post" action="../controller/senha.php"><br> <br>
    
<form class="formulario" method="post"> <br>
<label for="login">Login:</label>
<input type="email" id="email" name="email" placeholder="   *Digite E-Mail para login*" required>
<br>
senha:  <input type="password" name="senha"
placeholder="   *Digite sua Senha*"required>

senha:  <input type="password" name="senha"
placeholder="   *Digite sua Senha*"required>


<h1><input type="submit" name="acao" value="Entrar"></h1><br>


</form>


</form>



</form>
</div><br><br><br>

<footer id="rodape"> 
<rodape>
<h4><a href="adm.php"><div class="">H.A.
<a style="color: blue;">Feito por:BIT...</style></a></h4>
</h4></rodape>
</footer>

</body> 
</html>